<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <strong>How it all started</strong></br>
  -We came together as friends at a local high school...all of us with big ambitions and potential to match them...and our minds set to make an impact on the world around us. </br>
<strong>Our idea</strong></br>
  -After years of using social networks like facebook, instagram, and vine, we came to the realization that social networks consists of mainly static activity. For example, if you observed average teenage facebook user, they simply scroll through their notifications and friends' posts blindly liking everything, posting a conceited positive comment or 2 every now and then, and making underhanded remarks in their heads...like "ohh that looks slutty"..."oops, you forgot to turn red-eye on"...and "if this person posts another selfie I am going to..." and so on. Seeing this, we brainstormed about a better way to interact with social content, a rating system. I know what your thinking..."you can't rate people's stuff that's mean" and "would everyone just rate their friends' stuff 10/10" and so on. Well, we thought those same things too... but we found a solution: a choice based rating system where you chose your favorite content out of 4 of your friends' or follows' posts, with the chosen one(cheesy?) going up in rating and the unchosen ones slightly going down. This seemed perfect for our goal...and this site is our best effort to implement that along with some other superb features all designed to improve the content and user interaction in the social networking experience.</br>
  <strong>Our Company</strong></br>
  -We are an independent start-up out of Manhattan Beach, California. We are pretty much starting on our own...no big money or funds or investments...working out of our bedrooms and our local Coffee Bean(and Tea Leaf...psshh).</br>
  -Our goal is to create a new and redefined social networking experience that makes viewing and interacting with social content a much more satisfying and active experience. Our company...neverDone Productions(atleast for now...we might change it...who knows?) is comprised of 4 members:
</p>
<ul>
	<li><strong>Tyler Heintz</strong>-Chief Executive and Lead Programmer</li>
	<li><strong>Theo White</strong>-Chief of Art and Design</li>
	<li><strong>Sasha Taylor</strong>-Chief of Research and Development</li>
	<li><strong>Nicky Korba</strong>-Chief of Marketing</li>
</ul>
<p>-Special thanks to <strong>Walker Heintz</strong> for being a huge bitch thruoghout this entire process</p>
<p>-None of this could be done without Michael Hartl and his <a href="ruby.railstutorial.org">Ruby On Rails Tutorial</a> as well as much of his code and assistance that was used to help us build this project</p>
