<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  => The mixer section(for now) is a combination of all of the unrated posts you have displayed 4 at a time (like the pics, posts, and videos will in the full app), where you rate one item, causing its rating to go up 3 and the other posts's ratings to go down 1.

  I'm gonna add a help section here eventually
</p>