<li>

<%= link_to gravatar_for(user), user %>
    <span class="badge badge-info"><i class="icon-user"></i><%= link_to user.name, user, style: "color:white" %>
      </span>
      <i class="icon-arrow-right"></i> 
      <span class="badge badge-info"><%= user_rating(user.id) %></span>












</li>