<footer class="footer">
  <small>
    A neverDone Production-T.Heintz-T.White-N.Korba-S.Taylor
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/zipicapp"><img src="http://pbinc.org/storage/facebookicon.jpg?__SQUARESPACE_CACHEVERSION=1371131109933" style="height:40px;width:100px"></a></li>
      <li><a href=""><img src=""></a></li>
    </ul>
  </nav>
</footer>